# Copyright (c) Ultraviolet
# SPDX-License-Identifier: Apache-2.0

# Cloud-init files
hal/ubuntu/user-data
hal/ubuntu/meta-data

# QEMU files
*.qcow2
*.img

# Traefik files
acme.json

# Proxy Build
build

# Filesystem
*.ext4
*.backup
