# Copyright (c) Ultraviolet
# SPDX-License-Identifier: Apache-2.0

# Cloud-init files
hal/ubuntu/user-data
hal/ubuntu/meta-data

# QEMU files
*.qcow2
*.img

# Traefik files
acme.json

# Proxy Build
build

# Docker data
docker/data/
docker/certs/

# Filesystem
*.ext4
*.backup
__pycache__/
*.pyc

# Compiled binaries
/embedder

# Vite cache
ui/.vite/
ui/node_modules/
