[Unit]
Description=Cube Network Agent
After=network.target
Before=docker.service

[Service]
ExecStart=/cube/setup-cube.sh

[Install]
WantedBy=default.target
