# Copyright (c) Ultraviolet
# SPDX-License-Identifier: Apache-2.0

name: "cube"

networks:
  cube-network:
    driver: bridge

include:
  - path: ./ollama-compose.yaml
    env_file: .env
  - path : ./vllm-compose.yml
    env_file: .env
  - path: ./supermq-compose.yaml
    env_file: .env
  - path: ./cube-compose.yaml
    env_file: .env

services:
  traefik:
    container_name: traefik
    image: traefik:v3.1.2
    restart: unless-stopped
    ports:
      - ${TRAEFIK_HTTP_PORT:-80}:80
      - ${TRAEFIK_HTTPS_PORT:-443}:443
      - ${TRAEFIK_DASHBOARD_PORT:-8080}:8080
      - ${TRAEFIK_CERTS_PORT:-9010}:9010
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/${TRAEFIK_CONFIG:-traefik.toml}:/etc/traefik/traefik.toml:ro
      - ./traefik/${TRAEFIK_DYNAMIC_CONFIG:-dynamic.toml}:/etc/traefik/dynamic.toml:ro
      - ./traefik/ssl:/etc/traefik/ssl
    networks:
      - cube-network
    labels:
      logging: "traefik"
      service: "proxy"
