# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc
