global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  compress:
  format: json
  level: ERROR

accessLog:
  format: json

api:
  dashboard: false # Change to true for development
  debug: true
  disabledashboardad: true
  insecure: false # Change to true for development

providers:
  file:
    filename: /etc/traefik/dynamic.yaml
    watch: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt

certificatesResolvers:
  letsencrypt:
    acme:
      email: info@ultraviolet.com
      storage: /etc/traefik/ssl/acme.json
      httpChallenge:
        entryPoint: web
