# Copyright (c) Ultraviolet
# SPDX-License-Identifier: Apache-2.0

[Match]
Name=en*

[Network]
DHCP=yes
DNS=8.8.8.8
DNS=8.8.4.4

[DHCP]
UseDNS=yes
RouteMetric=100
