# Copyright (c) Ultraviolet
# SPDX-License-Identifier: Apache-2.0

[Match]
Name=e*

[Network]
DHCP=yes
DNS=8.8.8.8
DNS=8.8.4.4
DNSSEC=no

[DHCPv4]
UseDNS=yes
RouteMetric=100
