# Copyright (c) Ultraviolet
# SPDX-License-Identifier: Apache-2.0

http:
  middlewares:
    retry-middleware:
      retry:
        attempts: 4
        initialInterval: 100ms
    headers-middleware:
      headers:
        frameDeny: true
        browserXssFilter: true
    strip-auth-health-prefix-middleware:
      stripPrefix:
        prefixes:
          - "/auth"
    strip-users-health-prefix-middleware:
      stripPrefix:
        prefixes:
          - "/users"
    strip-proxy-prefix-middleware:
      stripPrefix:
        prefixes:
          - "/proxy"
    strip-domains-health-prefix-middleware:
      stripPrefix:
        prefixes:
          - "/domains"

  services:
    users:
      loadBalancer:
        servers:
          - url: http://supermq-users:9002
        healthCheck:
          scheme: http
          path: /health
          interval: 10s
          timeout: 10s

    auth:
      loadBalancer:
        servers:
          - url: http://supermq-auth:8189
        healthCheck:
          scheme: http
          path: /health
          interval: 10s
          timeout: 10s

    proxy:
      loadBalancer:
        servers:
          - url: http://cube-proxy:8900
        healthCheck:
          scheme: http
          path: /health
          interval: 10s
          timeout: 10s

    ui:
      loadBalancer:
        servers:
          - url: http://cube-ui:6193
        healthCheck:
          scheme: http
          path: /health
          interval: 10s
          timeout: 10s

    domains:
      loadBalancer:
        servers:
          - url: http://supermq-domains:9003
        healthCheck:
          scheme: http
          path: /health
          interval: 10s
          timeout: 10s

  routers:
    users-health:
      rule: "Path(`/users/health`)"
      entryPoints:
        - websecure
      service: users
      middlewares:
        - strip-users-health-prefix-middleware
        - retry-middleware
        - headers-middleware
      priority: 10

    auth-health:
      rule: "Path(`/auth/health`)"
      entryPoints:
        - websecure
      service: auth
      middlewares:
        - strip-auth-health-prefix-middleware
        - retry-middleware
        - headers-middleware
      priority: 10

    proxy:
      rule: "PathPrefix(`/proxy`)"
      entryPoints:
        - websecure
      service: proxy
      middlewares:
        - strip-proxy-prefix-middleware
        - retry-middleware
        - headers-middleware
      priority: 10

    users-entities:
      # /groups/{group_id}/users
      # /channels/{channel_id}/users
      # /domains/{domain_id}/users
      # /channels/{member_id}/groups
      # /users/{member_id}/groups
      rule: "PathRegexp(`^/(groups|channels|domains)/(.+)/users`) || PathRegexp(`^/(channels|users)/(.+)/groups`)"
      entryPoints:
        - websecure
      service: users
      middlewares:
        - retry-middleware
        - headers-middleware
      priority: 9

    users:
      rule: "PathPrefix(`/users`) || PathPrefix(`/password`) || Path(`/health`) || PathPrefix(`/groups`)"
      entryPoints:
        - websecure
      service: users
      middlewares:
        - retry-middleware
        - headers-middleware
      priority: 8

    auth-entities:
      # /users/{member_id}/domains
      rule: "PathRegexp(`^/users/(.+)/domains`)"
      entryPoints:
        - websecure
      service: auth
      middlewares:
        - retry-middleware
        - headers-middleware
      priority: 9

    auth:
      rule: "PathPrefix(`/policies`) || PathPrefix(`/keys`) || PathPrefix(`/pats`)"
      entryPoints:
        - websecure
      service: auth
      middlewares:
        - retry-middleware
        - headers-middleware
      priority: 8

    domains-health:
      rule: "Path(`/domains/health`)"
      entryPoints:
        - websecure
      service: domains
      middlewares:
        - strip-domains-health-prefix-middleware
        - retry-middleware
        - headers-middleware
      priority: 10

    domains:
      rule: "PathPrefix(`/domains`)"
      entryPoints:
        - websecure
      service: domains
      middlewares:
        - retry-middleware
        - headers-middleware
      priority: 8

    ui:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - websecure
      service: ui
      middlewares:
        - retry-middleware
        - headers-middleware
      priority: 1
