# Copyright (c) Ultraviolet
# SPDX-License-Identifier: Apache-2.0

name: Create and publish Cube Proxy Docker image

on:
  push:
    branches:
      - main
    tags:
      - "v*"
    paths:
      - ".github/workflows/cd.yaml"
      - "**.go"
      - "guardrails/**"

  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch tags for the build
        run: |
          git fetch --prune --unshallow --tags

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        run: |
          if [[ "${{ github.ref }}" == refs/tags/v* ]]; then
            echo "version=${{ github.ref_name }}" >> $GITHUB_OUTPUT
            echo "push_latest=true" >> $GITHUB_OUTPUT
          else
            echo "version=$(git describe --abbrev=0 --tags 2>/dev/null || echo 'v0.0.0')" >> $GITHUB_OUTPUT
            echo "push_latest=true" >> $GITHUB_OUTPUT
          fi

      - name: Build Docker images
        run: |
          make docker VERSION=${{ steps.meta.outputs.version }}

      - name: Push Docker images
        run: |
          make docker-push VERSION=${{ steps.meta.outputs.version }}
