# Copyright (c) Ultraviolet
# SPDX-License-Identifier: Apache-2.0

name: Continuous Integration

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/cd.yaml"
      - "**.go"

  push:
    branches:
      - main
    paths:
      - ".github/workflows/cd.yaml"
      - "**.go"

  workflow_dispatch:

jobs:
  lint-and-build: # Linting and building are combined to save time for setting up Go
    name: Lint and Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.x
          cache-dependency-path: "go.sum"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4.0
          args: --config ./.golangci.yaml

      - name: Build proxy
        run: |
          make all
